.tiptap{
    color: #222;
    background-color: transparent;
}
.dc-fc-grey{
    color: #777;
}
.dc-fc-light-grey{
    color: #ccc;
}
.dc-fc-blue{
    color: #3c44aa;
}
.dc-fc-red{
    color: #ca4843;
}
.dc-fc-yellow{
    color: #cf8e30;
}
.dc-fc-green{
    color: #1f874f;
}
.dc-fc-purple{
    color: #985bc7;
}
.dc-fc-pink{
    color: #c4498a;
}
.dc-fc-orange{
    color: #d07918;
}
.dc-fc-magenta{
    color: #c74ebd;
}
.dc-fc-brown{
    color: #835432;
}
.dc-fc-grey{
    color: #777;
}
.dc-fc-light-grey{
    color: #ccc;
}
.dc-fc-blue{
    color: #3c44aa;
}
.dc-fc-red{
    color: #ca4843;
}
.dc-fc-yellow{
    color: #cf8e30;
}
.dc-fc-green{
    color: #1f874f;
}
.dc-fc-purple{
    color: #985bc7;
}
.dc-fc-pink{
    color: #c4498a;
}
.dc-fc-orange{
    color: #d07918;
}
.dc-fc-magenta{
    color: #c74ebd;
}
.dc-fc-brown{
    color: #835432;
}