[data-state="hidden"] > .outer{
    display: none;
}
.outer{
    --outerHeight: 2.3rem;
    --margin-tb: .15rem;
    display: flex;
    flex-flow: row nowrap;
    border-radius: .6rem;
    box-shadow: 0px 6px 16px 1px #0000001a;
    background-color: #fff;
    height: var(--outerHeight);
    padding: 0 .1rem;
}
.selectButton{
    border-radius: .5rem;
    background-color: transparent;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: var(--margin-tb) .05rem;
    padding: .4rem .4rem .4rem .25rem;
}
.selectButton svg{
    height: 100%;
}
.markButton{
    border-radius: .5rem;
    font-size: 1.05rem;
    background-color: transparent;
    box-sizing: border-box;
    padding: .4rem;
    margin: var(--margin-tb) .05rem;
    width: calc(var(--outerHeight) - calc(var(--margin-tb) * 2));
    height: calc(var(--outerHeight) - calc(var(--margin-tb) * 2));
}
:is(.selectButton, .markButton):disabled{
    cursor: auto;
    pointer-events: none;
}
:is(.selectButton, .markButton):not(:disabled):hover{
    transition: background-color .05s ease;
    background-color: var(--c-grey-10);
}
:is(.selectButton, .markButton):not(:disabled):active{
    transition: background-color .01s ease;
    background-color: var(--c-grey-8);
}
.active{
    color: #569dff;
}
.separatorOuter{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: .1rem;
    padding: 0 .05rem;
    height: 100%;
}
.separator{
    height: 75%;
    background-color: var(--c-grey-9);
}