.tiptap{
    color: #222;
    background-color: transparent;
}
:root{
    --dc-fgcolor-grey: #777;
    --dc-fgcolor-lightgrey: #ccc;
    --dc-fgcolor-blue: #3c44aa;
    --dc-fgcolor-red: #ca4843;
    --dc-fgcolor-yellow: #cf8e30;
    --dc-fgcolor-green: #1f874f;
    --dc-fgcolor-purple: #985bc7;
    --dc-fgcolor-pink: #c4498a;
    --dc-fgcolor-orange: #d07918;
    --dc-fgcolor-magenta: #c74ebd;
    --dc-fgcolor-brown: #835432;
}

.dc-bc-grey{
    background-color: #777;
}
.dc-bc-light-grey{
    background-color: #ccc;
}
.dc-bc-blue{
    background-color: #3c44aa;
}
.dc-bc-red{
    background-color: #ca4843;
}
.dc-bc-yellow{
    background-color: #cf8e30;
}
.dc-bc-green{
    background-color: #1f874f;
}
.dc-bc-purple{
    background-color: #985bc7;
}
.dc-bc-pink{
    background-color: #c4498a;
}
.dc-bc-orange{
    background-color: #d07918;
}
.dc-bc-magenta{
    background-color: #c74ebd;
}
.dc-bc-brown{
    background-color: #835432;
}