:root{
    --dc-p-padding-block: .28125rem;
    --dc-p-padding-inline: .1875rem;
}

.tiptap{
    box-sizing: border-box;
    width: 100%;
    min-height: 100dvh;
    padding: 3rem 4rem 40dvh;
}

.dc-empty .dc-p, .dc-empty.dc-p{
    position: relative;
}
:is(.dc-empty .dc-p, .dc-empty.dc-p)::after{
    content: "输入 / 发起命令...";
    color: grey;
    display: block;
    position: absolute;
    top: var(--dc-p-padding-block);
    left: var(--dc-p-padding-inline);
    pointer-events: none;
}

.dc-container{
    display: flex;
    flex-flow: column nowrap;
    gap: .125rem;
}
.dc-container-outer{
    flex: 1;
}
.dc-container-outer > *{
    display: flex;
    flex-flow: column nowrap;
    gap: .125rem;
}

.dc-p{
    padding: var(--dc-p-padding-block) var(--dc-p-padding-inline);
    background-color: aliceblue;
    border-radius: .1875rem;
}

.dc-ul{
    display: flex;
    flex-flow: row nowrap;
}
.dc-ul-marker-outer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 1em;
    padding: 0 .25em 0 .2em;
}
.dc-ul-marker::before{
    content: var(--ul-marker);
    font-size: 1.5em;
    line-height: 1em;
}

.dc-bq{
    margin: 0;
    padding: 0;
    margin-inline-start: .2em;
    padding-inline-start: .5em;
    margin-block-start: .2em;
    margin-block-end: .2em;
    border-left-style: solid;
    border-left-width: .2em;
}