.ProseMirror-trailingBreak:only-child{
    user-select: none;
}
.ProseMirror-trailingBreak:only-child::selection{
    background-color: transparent;
}
.dc-p:has(.ProseMirror-trailingBreak:only-child){
    user-select: none !important;
}