::selection{
    background-color: var(--c-selection);
}
::-moz-selection{
    background-color: var(--c-selection);
}
*{
    outline: none;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    transition: background-color .1s;
    line-height: normal;
    scrollbar-color: var(--c-grey-5) transparent;
    scrollbar-gutter: auto;
    scrollbar-width: thin;
}
*[contenteditable]:not([contenteditable="false"]){
    -webkit-user-modify: read-write-plaintext-only;
}
*[contenteditable]:not([contenteditable="false"]) *{
    white-space: pre-wrap;
    word-wrap: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}
#root{
    height: 100vh; /*兼容*/
    height: 100dvh;
    width: 100vw; /*兼容*/
    width: 100dvw;
    overflow: clip;
    display: flex;
    flex-flow: row nowrap;
}
noscript{
    display: grid;
    place-items: center;
}
.noselect{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.reselect{
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
.nodrag{
    -webkit-user-drag: none;
}