button{
    appearance: auto;
    display: block;
    text-align: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    border: none;
    border-radius: 0;
    background-color: none;
}
/*#region a*/
a{
    -webkit-user-drag: auto;
    cursor: pointer;
    transition: color .2s, text-decoration .2s;
    text-decoration: none;
    color: var(--c-link);
}
a:visited, a:-webkit-any-link{
    cursor: pointer;
    transition: color .2s, text-decoration .2s;
    text-decoration: none;
    color: var(--c-link);
}
/*上下两个不能合在一起，合在一起后 Google Chrome 就会拒绝识别它们*/
a:-moz-any-link, a:any-link{
    cursor: pointer;
    transition: color .1s, text-decoration .1s;
    text-decoration: none;
    color: var(--c-link);
}
a:hover{
    text-decoration: underline;
    text-underline-offset: .2rem;
}
a:active{
    color: var(--c-link-d);
}
/*#endregion*/
/*#region Headings*/
h1{
    font-size: 2.7em;
    margin-block-start: .4em;
    margin-block-end: .4em;
    padding: 0;
    font-weight: bold;
    font-weight: 700;
}
h2{
    font-size: 2.65em;
    margin-block-start: .4em;
    margin-block-end: .4em;
    padding: 0;
    font-weight: bold;
    font-weight: 700;
}
h3{
    font-size: 2.3em;
    margin-block-start: .35em;
    margin-block-end: .35em;
    padding: 0;
    font-weight: bold;
    font-weight: 700;
}
h4{
    font-size: 2em;
    margin-block-start: .3em;
    margin-block-end: .3em;
    padding: 0;
    font-weight: bold;
    font-weight: 700;
}
/*#endregion*/
p{
    display: block;
    margin: 0;
    line-height: 1.5em;
}
hr{
    height: .125rem;
    width: 98%;
    margin-block-start: .5em;
    margin-block-end: .5em;
    padding: 0;
    border: none;
    background-color: var(--c-grey-6);
}
code{
    font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace;
    font-size: 1em;
    padding-inline-start: .25em;
    padding-inline-end: .25em;
    padding-block-start: .2em;
    padding-block-end: .15em;
    margin-inline-start: .15em;
    margin-inline-end: .15em;
    border-radius: .3em;
    background-color: var(--c-grey-9);
}
em, i{
    font-style: italic;
}
strong, b{
    font-weight: bold;
}
u{
    text-decoration: underline;
    text-underline-offset: .25em;
}
s{
    text-decoration: line-through;
}
blockquote{
    margin: 0;
    padding: 0;
    margin-inline-start: .2em;
    padding-inline-start: .8em;
    margin-block-start: .5em;
    margin-block-end: .5em;
    border-left: solid .25em var(--c-grey-6);
    line-height: 1.5em;
}
/*#region ul*/
ul{
    display: block;
    margin: 0;
    padding: 0;
    margin-block-start: .4em;
    margin-block-end: .4em;
    margin-inline-start: .6em;
    padding-inline-start: .6em;
}
li{
    line-height: 1.5em;
}
/*#endregion*/