.container{
    display: flex;
    flex-flow: column nowrap;
}
.entry{
    padding: 0 .5rem;
    color: var(--c-grey);
    font-weight: bold;
    width: calc(100% - calc(.5rem * 2));
    overflow-x: clip;
    white-space: nowrap;
    text-overflow: ellipsis;
}