.outer{
    display: flex;
    flex-flow: column nowrap;
}
.button{
    background-color: transparent;
    font-size: .9rem;
    padding: .4rem 0;
    margin: 0 .3rem;
    border-radius: .4rem;
}
.button:hover, .button:active{
    background-color: #00000010;
}
.button:hover:active{
    background-color: #00000020;
    transition-duration: .05s;
}